
main {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: monospace;
    flex-direction: column;
    padding-top: min(12vw, 12vh) ;
}

#box {
    background-color: bisque;
    min-height: min(50vw, 50vh);
    min-width: min(50vw, 50vh);

    display: grid;
}


.key {
    display: flex;
    align-items: center;
    justify-content: center;

    margin: 0.25em;
}

.key.inactive {
    background-color: aliceblue;
}

.key.active {
    background-color: aqua;
}

#playctl {
    font-size: larger;
    justify-content: center;
}

#recording {
    width: 15em;
}